#bx-game-bar {
    z-index: var(--bx-game-bar-z-index);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 90px;
    overflow: visible;
    cursor: pointer;

    .bx-game-bar-container {
        position absolute;
        display: flex;
        overflow: hidden;
        background: #1a1b1ee8;
        border-radius: 0 10px 10px 0;
        box-shadow: 0px 0px 2px #1c1c1c;

        button {
            width: 60px;
            height: 60px;

            svg {
                width: 28px;
                height: 28px;
                transition: transform 0.08s ease 0s;
            }

            &:hover {
                border-radius: 0;
            }

            &:active {
                svg {
                    transform: scale(0.75);
                }
            }
        }

        /* Touch controller buttons */
        div[data-enabled] {
            button {
                display: none;
            }
        }

        /* Show disable button */
        div[data-enabled='true'] {
            button:last-of-type {
                display: block;
            }
        }

        /* Show enable button */
        div[data-enabled='false'] {
            button:first-of-type {
                display: block;
            }
        }
    }
}
