.bx-guide-home-buttons[data-is-playing="true"] {
    button[data-state='normal'] {
        display: none;
    }
}

.bx-guide-home-buttons[data-is-playing="false"] {
    button[data-state='playing'] {
        display: none;
    }
}
