.bx-guide-home-buttons {
    > div {
        display: flex;
        flex-direction: row;
        gap: 12px;

        body[data-media-type=tv] & {
            flex-direction: column;

            button {
                margin-bottom: 0 !important;
            }
        }

        body:not([data-media-type=tv]) & {
            button {
                span {
                    display: none;
                }
            }
        }
    }

    &[data-is-playing="true"] {
        button[data-state='normal'] {
            display: none;
        }
    }

    &[data-is-playing="false"] {
        button[data-state='playing'] {
            display: none;
        }
    }
}
