.bx-guide-home-achievements-progress {
    display: flex;
    gap: 10px;
    flex-direction: row;

    .bx-button {
        margin-bottom: 0 !important;
    }

    html[data-xds-platform=tv] & {
        flex-direction: column;
    }

    html:not([data-xds-platform=tv]) & {
        flex-direction: row;

        > button:first-of-type {
            flex: 1;
        }

        > button:last-of-type {
            width: 40px;

            span {
                display: none;
            }
        }
    }
}

.bx-guide-home-buttons {
    > div {
        display: flex;
        flex-direction: row;
        gap: 12px;

        html[data-xds-platform=tv] & {
            flex-direction: column;

            button {
                margin-bottom: 0 !important;
            }
        }

        html:not([data-xds-platform=tv]) & {
            button {
                span {
                    display: none;
                }
            }
        }
    }

    &[data-is-playing="true"] {
        button[data-state='normal'] {
            display: none;
        }
    }

    &[data-is-playing="false"] {
        button[data-state='playing'] {
            display: none;
        }
    }
}
