.bx-number-stepper {
    text-align: center;

    span {
        display: inline-block;
        min-width: 40px;
        font-family: var(--bx-monospaced-font);
        font-size: 14px;
    }

    button {
        border: none;
        width: 24px;
        height: 24px;
        margin: 0 4px;
        line-height: 24px;
        background-color: var(--bx-default-button-color);
        color: #fff;
        border-radius: 4px;
        font-weight: bold;
        font-size: 14px;
        font-family: var(--bx-monospaced-font);
        color: #fff;

        &:hover {
            @media (hover: hover) {
                background-color: var(--bx-default-button-hover-color);
            }
        }

        &:active {
            background-color: var(--bx-default-button-hover-color);
        }

        &:disabled + span {
            font-family: var(--bx-title-font);
        }
    }

    input[type="range"] {
        display: block;
        margin: 12px auto 2px;
        width: 180px;
        color: #959595 !important;
    }

    input[type=range]:disabled, button:disabled {
        display: none;
    }
}
