.bx-remote-play-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    background: #1a1b1e;
    border-radius: 10px;
    width: 420px;
    max-width: calc(100vw - 20px);
    margin: 0 0 0 auto;
    padding: 20px;

    > .bx-button {
        display: table;
        margin: 0 0 0 auto;
    }
}

.bx-remote-play-settings {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #2d2d2d;

    > div {
        display: flex;
    }

    label {
        flex: 1;

        p {
            margin: 4px 0 0;
            padding: 0;
            color: #888;
            font-size: 12px;
        }
    }
}

.bx-remote-play-resolution {
    display: block;

    input[type="radio"] {
        accent-color: var(--bx-primary-button-color);
        margin-right: 6px;

        &:focus {
            accent-color: var(--bx-primary-button-hover-color);
        }
    }
}

.bx-remote-play-device-wrapper {
    display: flex;
    margin-bottom: 12px;

    &:last-child {
    margin-bottom: 2px;
    }
}

.bx-remote-play-device-info {
    flex: 1;
    padding: 4px 0;
}

.bx-remote-play-device-name {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.bx-remote-play-console-type {
    font-size: 12px;
    background: #004c87;
    color: #fff;
    display: inline-block;
    border-radius: 14px;
    padding: 2px 10px;
    margin-left: 8px;
    vertical-align: middle;
}

.bx-remote-play-power-state {
    color: #888;
    font-size: 12px;
}

.bx-remote-play-connect-button {
    min-height: 100%;
    margin: 4px 0;
}

.bx-remote-play-buttons {
    display: flex;
    justify-content: space-between;
}
