div[class*=StreamMenu-module__menuContainer] > div[class*=Menu-module] {
    overflow: visible;
}

.bx-stream-menu-button-on {
    fill: #000 !important;
    background-color: #2d2d2d !important;
    color: #000 !important;
}

.bx-stream-refresh-button {
    top: calc(env(safe-area-inset-top, 0px) + 10px + 50px) !important;
}

body[data-media-type=default] .bx-stream-refresh-button {
    left: calc(env(safe-area-inset-left, 0px) + 11px) !important;
}

body[data-media-type=tv] .bx-stream-refresh-button {
    top: calc(var(--gds-focus-borderSize) + 80px) !important;
}

.bx-stream-home-button {
    top: calc(env(safe-area-inset-top, 0px) + 10px + 50px * 2) !important;
}

body[data-media-type=default] .bx-stream-home-button {
    left: calc(env(safe-area-inset-left, 0px) + 12px) !important;
}

body[data-media-type=tv] .bx-stream-home-button {
    top: calc(var(--gds-focus-borderSize) + 80px * 2) !important;
}

@keyframes bx-anim-taking-screenshot {
    0% {
        border: 0px solid #ffffff80;
    }

    50% {
        border: 8px solid #ffffff80;
    }

    100% {
        border: 0px solid #ffffff80;
    }
}

div[data-testid=media-container] {
    display: flex;

    &.bx-taking-screenshot:before {
        animation: bx-anim-taking-screenshot 0.5s ease;
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: var(--bx-screenshot-animation-z-index);
    }
}


#game-stream video {
    margin: auto;
    align-self: center;
    background: #000;
}

#game-stream canvas {
    position: absolute;
    align-self: center;
    margin: auto;
    left: 0;
    right: 0;
}

#gamepass-dialog-root div[class^=Guide-module__guide] {
    .bx-button {
        overflow: visible;
        margin-bottom: 12px;
    }
}
