.bx-stream-settings-dialog {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: var(--bx-stream-settings-z-index);
    opacity: 0.98;
    user-select: none;
    -webkit-user-select: none;
}

.bx-stream-settings-overlay {
    position: fixed;
    background: #0b0b0be3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--bx-stream-settings-overlay-z-index);

    &[data-is-playing="true"] {
        background: transparent;
    }
}

.bx-stream-settings-tabs {
    display: flex;
    position: fixed;
    flex-direction: column;
    border-radius: 0 0 0 8px;
    box-shadow: 0px 0px 6px #000;
    overflow: clip;

    svg {
        width: 32px;
        height: 32px;
        padding: 10px;
        box-sizing: content-box;
        background: #131313;
        cursor: pointer;
        border-left: 4px solid #1e1e1e;

        &.bx-active {
            background: #222;
            border-color: #008746;
        }

        &:not(.bx-active):hover {
            background: #2f2f2f;
            border-color: #484848;
        }

        &:focus {
            border-color: #fff;
            outline: none;
        }
    }
}


.bx-stream-settings-tab-contents {
    flex-direction: column;
    padding: 14px 14px 0;
    width: 420px;
    background: #1a1b1e;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--bx-title-font);
    text-align: center;
    box-shadow: 0px 0px 6px #000;
    overflow: overlay;
    margin-left: 56px;
    z-index: 1;

    > div[data-tab-group=mkb] {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    &:focus,
    *:focus {
        outline: none !important;
    }

    h2 {
        margin-bottom: 8px;
        display: flex;
        align-item: center;

        span {
            display: inline-block;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
            flex: 1;
            height: var(--bx-button-height);
            line-height: calc(var(--bx-button-height) + 4px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

@media screen and (max-width: 500px) {
    .bx-stream-settings-tab-contents {
        width: calc(100vw - 56px);
    }
}

.bx-stream-settings-row {
    display: flex;
    border-bottom: 1px solid #40404080;
    padding: 16px 8px;
    border-left: 2px solid transparent;

    &:hover, &:focus-within {
        background-color: #242424;
    }

    input[type=checkbox],
    select {
        &:focus {
            filter: drop-shadow(1px 0 0 #fff) drop-shadow(-1px 0 0 #fff) drop-shadow(0 1px 0 #fff) drop-shadow(0 -1px 0 #fff);
        }
    }

    &:has(input:focus), &:has(select:focus), &:has(button:focus) {
        border-left-color: white;
    }

    > label {
        font-size: 16px;
        display: block;
        text-align: left;
        flex: 1;
        align-self: center;
        margin-bottom: 0 !important;
    }

    input {
        accent-color: var(--bx-primary-button-color);

        &:focus {
            accent-color: var(--bx-danger-button-color);
        }
    }

    select:disabled {
        -webkit-appearance: none;
        background: transparent;
        text-align-last: right;
        border: none;
        color: #fff;
    }

    select option:disabled {
        display: none;
    }
}

.bx-stream-settings-dialog-note {
    display: block;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
}

.bx-stream-settings-tab-contents {
    div[data-tab-group="shortcuts"] {
        > div {
            &[data-has-gamepad=true] {
                > div:first-of-type {
                    display: none;
                }

                > div:last-of-type {
                    display: block;
                }
            }

            &[data-has-gamepad=false] {
                > div:first-of-type {
                    display: block;
                }

                > div:last-of-type {
                    display: none;
                }
            }
        }

        .bx-shortcut-profile {
            width: 100%;
            height: 36px;
            display: block;
        }

        .bx-shortcut-note {
            margin-top: 10px;
            font-size: 14px;
        }

        .bx-shortcut-row {
            display: flex;
            margin-bottom: 10px;

            label.bx-prompt {
                flex: 1;
                font-size: 26px;
                margin-bottom: 0;
            }

            .bx-shortcut-actions {
                flex: 2;
                position: relative;

                select {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: block;

                    &:last-of-type {
                        opacity: 0;
                        z-index: calc(var(--bx-stream-settings-z-index) + 1);
                    }
                }
            }
        }
    }
}
